/* Color Variables */
{% assign colorPrimary=data.colors.primary %}
{% assign colorPrimaryDark=data.colors.primaryDark %}
{% assign colorPrimaryLight=data.colors.primaryLight %}
{% assign colorSecondary=data.colors.secondary %}
{% assign colorSecondaryDark=data.colors.secondaryDark %}
{% assign colorSecondaryLight=data.colors.secondaryLight %}
{% assign colorGrey=data.colors.grey %}
{% assign colorGreyDark=data.colors.greyDark %}
{% assign colorGreyLight=data.colors.greyLight %}

/* Font Variables */
{% assign fontPrimary=data.fonts.primary %}
{% assign fontSecondary=data.fonts.secondary %}

/* Shadows */
{% assign shadow=data.shadows.primary %}

/* Transition */
{% assign transition=data.transitions.primary %}

html {
  font-family: {{fontPrimary}};
}

h1, h2, h3, .font-alt {
  font-family: {{fontSecondary}};
}

h1 {
  color: {{colorPrimary}};
}

/* ---------- Colors ---------- */

a {
  color: {{colorPrimary}};
  transition:
    color {{transition}},
    background-color {{transition}},
    border-color {{transition}};
}

a:hover {
  color: {{colorPrimaryDark}};
}

.footer a {
  color: {{colorGrey}};
}

.footer a:hover {
  color: {{colorPrimary}};
}

.text-fff {
  color: #fff;
}

.text-mg {
  color: {{colorGrey}};
}

.bg-primary {
  background-color: {{colorPrimary}};
}

.bg-mg {
  background-color: {{colorGrey}};
}

.bg-dg {
  background-color: {{colorGreyDark}};
}


@media only screen and (min-width: 38em) {



}

@media only screen and (min-width: 60em) {



}
