/* Color Variables */
{% assign colorPrimary=colorData.primary %}
{% assign colorPrimaryDark=colorData.primaryDark %}
{% assign colorPrimaryLight=colorData.primaryLight %}
{% assign colorSecondary=colorData.secondary %}
{% assign colorSecondaryDark=colorData.secondaryDark %}
{% assign colorSecondaryLight=colorData.secondaryLight %}
{% assign colorGrey=colorData.grey %}
{% assign colorGreyDark=colorData.greyDark %}
{% assign colorGreyLight=colorData.greyLight %}

/* Font Variables */
{% assign fontPrimary=fontData.primary %}
{% assign fontSecondary=fontData.secondary %}

/* Shadows */
{% assign shadow=otherStylesData.shadows.primary %}

/* Transition */
{% assign transition=otherStylesData.transitions.primary %}

html {
  font-family: {{fontPrimary}};
}

h1, h2, h3, .font-alt {
  {% if fontSecondary %}
    font-family: {{fontSecondary}};
  {% endif %}
}

h1 {
  color: {{colorPrimary}};
}

/* ---------- Colors ---------- */

a {
  color: {{colorPrimary}};
  transition:
    color {{transition}},
    background-color {{transition}},
    border-color {{transition}};
}

a:hover {
  color: {{colorPrimaryDark}};
}

.text-fff {
  color: #fff;
}

.text-primary {
  color: {{colorPrimary}};
}

{% if colorPrimaryLight %}
  .text-primary-light {
    color: {{colorPrimaryLight}}
  }
{% endif %}

{% if colorPrimaryDark %}
  .text-primary-dark {
    color: {{colorPrimaryDark}}
  }
{% endif %}

.text-secondary {
  color: {{colorSecondary}};
}

{% if colorSecondaryLight %}
  .text-secondary-light {
    color: {{colorSecondaryLight}}
  }
{% endif %}

{% if colorSecondaryDark %}
  .text-secondary-dark {
    color: {{colorSecondaryDark}}
  }
{% endif %}

.text-grey {
  color: {{colorGrey}};
}

.text-grey-light {
  color: {{colorGreyLight}};
}

.text-grey-dark {
  color: {{colorGreyDark}};
}

.bg-primary {
  background-color: {{colorPrimary}};
}

{% if colorPrimaryLight %}
  .bg-primary-light {
    background-color: {{colorPrimaryLight}}
  }
{% endif %}

{% if colorPrimaryDark %}
  .bg-primary-dark {
    background-color: {{colorPrimaryDark}}
  }
{% endif %}

.bg-secondary {
  background-color: {{colorSecondary}};
}

{% if colorSecondaryLight %}
  .bg-secondary-light {
    background-color: {{colorSecondaryLight}}
  }
{% endif %}

{% if colorSecondaryDark %}
  .bg-secondary-dark {
    background-color: {{colorSecondaryDark}}
  }
{% endif %}

.bg-grey {
  background-color: {{colorGrey}};
}

.bg-grey-light {
  background-color: {{colorGreyLight}};
}

.bg-grey-dark {
  background-color: {{colorGreyDark}};
}


@media only screen and (min-width: 38em) {



}

@media only screen and (min-width: 60em) {



}
