.footer {
  text-align: center;
  {% if themeData.footer.bgColor == 'white' %}
    background-color: #fff;
  {% elsif themeData.footer.bgColor == 'primary' %}
    background-color: {{colorPrimary}};
  {% elsif themeData.footer.bgColor == 'secondary' %}
    background-color: {{colorSecondary}};
  {% elsif themeData.footer.bgColor == 'greyDark' %}
    background-color: {{colorGreyDark}};
  {% else %}
    background-color: #000;
  {% endif %}
  {% if themeData.footer.textColor == 'white' %}
    color: #fff;
  {% elsif themeData.footer.textColor == 'primary' %}
    color: {{colorPrimary}};
  {% elsif themeData.footer.textColor == 'secondary' %}
    color: {{colorSecondary}};
  {% elsif themeData.footer.textColor == 'greyDark' %}
    color: {{colorGreyDark}};
  {% elsif themeData.footer.textColor == 'grey' %}
    color: {{colorGrey}};
  {% else %}
    color: #000;
  {% endif %}
}

.footer a {
  {% if themeData.footer.linkColor == 'white' %}
    color: #fff;
  {% elsif themeData.footer.linkColor == 'primary' %}
    color: {{colorPrimary}};
  {% elsif themeData.footer.linkColor == 'secondary' %}
    color: {{colorSecondary}};
  {% elsif themeData.footer.linkColor == 'greyDark' %}
    color: {{colorGreyDark}};
  {% elsif themeData.footer.linkColor == 'grey' %}
    color: {{colorGrey}};
  {% else %}
    color: #000;
  {% endif %}
}

.footer a:hover {
  {% if themeData.footer.linkHoverColor == 'white' %}
    color: #fff;
  {% elsif themeData.footer.linkHoverColor == 'primary' %}
    color: {{colorPrimary}};
  {% elsif themeData.footer.linkHoverColor == 'secondary' %}
    color: {{colorSecondary}};
  {% elsif themeData.footer.linkHoverColor == 'greyDark' %}
    color: {{colorGreyDark}};
  {% else %}
    color: #000;
  {% endif %}
}

.footer-nav .logo-wrap > a {
  max-width: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.footer-nav .logo-main {
  width: 100%;
}

.footer-nav li:last-child a {
  margin-bottom: 0;
}

.footer-nav a {
  text-decoration: none;
}

.icon-list li:not(:last-child) {
  margin-right: .65rem;
}

.sub-footer {
  background-color: rgba(0, 0, 0, .5);
}

@media only screen and (min-width: 38em) {

  .footer {
    text-align: left;
  }

  .footer .unit:last-child {
    text-align: right;
  }

  .footer-nav .logo-wrap > a {
    margin-left: 0;
    margin-right: 0;
  }

}
