<header class="masthead" role="banner">
  <div class="wrapper gutter pad-t-1-2 pad-b-1-2">
    <div class="mobile-navbar m-0">
      <a class="mobile-logo inline-block" href="{{site.baseurl}}/">
        {% if logoData.type == 'wordmark' %}
          {{themeData.title}}
        {% elsif logoData.type == 'img' %}
          {% if logoData.imgMobile %}
            <img class="img-flex" src="{{site.baseurl}}/{{logoData.imgMobile}}" alt="{{themeData.title}} Logo">
          {% else %}
            <img class="img-flex" src="{{site.baseurl}}/{{logoData.img}}" alt="{{themeData.title}} Logo">
          {% endif %}
        {% elsif logoData.type == 'svg' %}
          {% if logoData.svgMobile %}
            {% include svg/logo.svg %}
          {% else %}
            {% include svg/logo.svg %}
          {% endif %}
        {% endif %}
      </a>
      <a class="tog-nav inline-block" href="#nav-footer">
        <span class="tog tog-top"></span>
        <span class="tog tog-middle"></span>
        <span class="tog tog-bottom"></span>
      </a>
    </div>
    {% include utilities/nav/nav-generate.html navId='nav' navClass='nav' listClass='list-group push-0' %}
  </div>
</header>
