---
layout: default
---

{% assign homeData=site.data.home %}

{% for sections in homeData.sections %}
  {% include sections/section.html id=sections.id bgImage=sections.bgImage bgPosition=sections.bgPosition bgColor=sections.bgColor height=sections.height headline=sections.headline byline=sections.byline btnText=sections.btnText btnUrl=sections.btnUrl btnStyle=sections.btnStyle contentAlignment=sections.contentAlignment content=sections.content contentWidth=sections.contentWidth paddingExtra=sections.paddingExtra logos=sections.logos %}
{% endfor %}
