.card-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.photo-focus-wrap {
  display: none;
}

.photo-focus {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .85);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.photo-focus a {
  color: #fff;
}

.photo-focus a:hover {
  color: {{colorPrimary}};
}

.photo-focused {
  color: #fff;
  text-align: center;
  transform: translateY(2rem);
}

.landscape {
  width: 100%;
}

.portrait {
  width: 100%;
}

.photo-focus .previous,
.photo-focus .next {
  padding: 1.6rem;
  position: absolute;
  bottom: 0;
  display: none;
}

.photo-focus .previous {
  left: 0;
}

.photo-focus .next {
  right: 0;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (min-width: 35em) {

  .photo-focus .previous,
  .photo-focus .next {
    bottom: 50%;
    transform: translateY(50%);
  }

  .photo-focus .previous .icon-label,
  .photo-focus .next .icon-label {
    display: none;
  }

  /* .photo-focused figcaption {
    position: absolute;
    bottom: 1.3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 36em;
  } */

  .photo-focused img {
    width: auto;
    height: auto;
    margin: 0;
  }

  .photo-focused .landscape {
    width: 70vw;
  }

  .photo-focused .portrait {
    height: 75vh;
  }

}
/*
@media only screen and (min-width: 38em) {


  .close {
    right: 1.4rem;
  }

}

@media only screen and (min-width: 60em) {


  .close {
    right: 1.5rem;
  }

} */
