{% if sections.type == 'hero' %}
  {% include sections/hero/hero.html %}
{% elsif sections.type == 'hero-markdown' %}
  {% include sections/hero/hero-markdown.html %}
{% elsif sections.type == 'info' %}
  {% include sections/info/info.html %}
{% elsif sections.type == 'logos' %}
  {% include sections/logos/logos.html %}
{% elsif sections.type == 'html' %}
  {% include sections/html/html.html %}
{% elsif sections.type == 'markdown' %}
  {% include sections/markdown/markdown.html %}
{% elsif sections.type == 'cta' %}
  {% include sections/cta/cta.html %}
{% elsif sections.type == 'half-img-text' %}
  {% include sections/half-img-text/half-img-text.html %}
{% elsif sections.type == 'accordion' %}
  {% include sections/accordion/accordion.html %}
{% elsif sections.type == 'photo-array' %}
  {% include sections/photo-array/photo-array.html %}
{% elsif sections.type == 'map' %}
  {% include sections/map/map.html %}
{% elsif sections.type == 'form' %}
  {% include sections/form/form.html %}
{% elsif sections.type == 'card' %}
  {% include sections/cards/card.html %}
{% endif %}
