{% if sections.type == 'hero' %}
  {% include sections/hero/hero.html %}
{% elsif sections.type == 'info' %}
  {% include sections/info/info.html %}
{% elsif sections.type == 'logos' %}
  {% include sections/logos/logos.html %}
{% elsif sections.type == 'html' %}
  {% include sections/html/html.html %}
{% elsif sections.type == 'markdown' %}
  {% include sections/markdown/markdown.html %}
{% elsif sections.type == 'cta' %}
  {% include sections/cta/cta.html %}
{% elsif sections.type == 'half-img-text' %}
  {% include sections/half-img-text/half-img-text.html %}
{% endif %}

<!--

Section Idea

- Blog Preview
- Divider
- Gallery
- Contact Form
- Testimonials
- Video Embed
- Page Insert?

If Shopify Theme

- Collection List
- Featured Collection
- Featured Products
- Featured Promotions
- Newsletter

Completed:
- Hero Banner
- Logo Bar
- Markdown
- Call to Action Banner
- Image 1/2, Markdown 1/2
 -->
