{% if sections.type == 'hero' %}
  {% include sections/hero/hero.html %}
{% elsif sections.type == 'info' %}
  {% include sections/info/info.html %}
{% elsif sections.type == 'logos' %}
  {% include sections/logos/logos.html %}
{% elsif sections.type == 'text' %}
  {% include sections/text/text.html %}
{% elsif sections.type == 'html' %}
  {% include sections/html/html.html %}
{% elsif sections.type == 'markdown' %}
  {% include sections/markdown/markdown.html %}
{% elsif sections.type == 'cta' %}
  {% include sections/cta/cta.html %}
{% endif %}

<!--

Section Options

- Contact Block
- Blog Preview
- Divider
- Image 1/2, Markdown 1/2
- Gallery
- Contact Form
- Testimonials
- Video Embed
- Page Insert?

If Shopify Theme

- Collection List
- Featured Collection
- Featured Products
- Featured Promotions
- Newsletter

Required Fields:

id=sections.id
bgImage=sections.bgImage
bgPosition=sections.bgPosition
bgColor=sections.bgColor
height=sections.height
headline=sections.headline
byline=sections.byline
btnText=sections.btnText
btnUrl=sections.btnUrl
contentAlignment=sections.contentAlignment
content=sections.content
contentWidth=sections.contentWidth
paddingExtra=sections.paddingExtra
logos=sections.logos

 -->
