.half-img-text .half-img {
  padding-top: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 38em) {

  .half-img-text .half-img {
    padding-top: 90vh;
  }

  .half-img-text .half-text {
    display: flex;
    align-items: center;
    padding-left: 2.8rem;
    padding-right: 2.8rem;
  }

}

@media only screen and (min-width: 60em) {

  .half-img-text .half-text {
    padding-left: 3rem;
    padding-right: 3rem;
  }

}
