.btn {
  color: #fff;
  {% if themeData.buttons.styleOption == 'option-1' %}
    padding: .375em 1.5em .42em;
  {% endif %}
  background-color: {{colorPrimary}};
  border-color: {{colorPrimary}};
  transition:
    background-color {{transition}},
    border-color {{transition}},
    color {{transition}};
}

.btn:hover,
.btn:focus {
  color: #fff;
  {% if colorPrimaryDark %}
    background-color: {{colorPrimaryDark}};
    border-color: {{colorPrimaryDark}};
  {% else %}
    background-color: {{colorSecondary}};
    border-color: {{colorSecondary}};
  {% endif %}
}

.btn-secondary {
  background-color: {{colorSecondary}};
  border-color: {{colorSecondary}};
}

.btn-secondary:hover,
.btn-secondary:focus {
  {% if colorSecondaryDark %}
    background-color: {{colorSecondaryDark}};
    border-color: {{colorSecondaryDark}};
  {% else %}
    background-color: {{colorPrimary}};
    border-color: {{colorPrimary}};
  {% endif %}
}

.btn-ghost {
  background-color: transparent;
  color: {{colorPrimary}};
  border-color: {{colorPrimary}};
}

.btn-ghost:hover,
.btn-ghost:focus {
  color: #fff;
  background-color: {{colorPrimary}};
  border-color: {{colorPrimary}};
}

.btn-ghost.btn-secondary {
  background-color: transparent;
  color: {{colorSecondary}};
  border-color: {{colorSecondary}};
}

.btn-ghost.btn-secondary:hover,
.btn-ghost.btn-secondary:focus {
  color: #fff;
  background-color: {{colorSecondary}};
  border-color: {{colorSecondary}};
}
