{% assign cta=sectionData.cta %}

.cta {
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.cta-overlay::after {
  content: ' ';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.cta-overlay-opacity-50::after {
  opacity: .5;
}

.cta-overlay-opacity-60::after {
  opacity: .6;
}

.cta-overlay-opacity-60::after {
  opacity: .6;
}

.cta-overlay-opacity-70::after {
  opacity: .7;
}

.cta-overlay-opacity-80::after {
  opacity: .8;
}

.cta-overlay-opacity-90::after {
  opacity: .9;
}

.cta-overlay-opacity-100::after {
  opacity: 1;
}

.cta-overlay-white::after {
  background-color: #fff;
}

.cta-overlay-primary::after {
  background-color: {{colorPrimary}};
}

.cta-overlay-secondary::after {
  background-color: {{colorSecondary}};
}

.cta-overlay-grey-dark::after {
  background-color: {{colorGreyDark}};
}

.cta-overlay-white::after {
  background-color: #000;
}

.cta-content {
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 38em) {

  .cta .wrapper {
    display: flex;
  }

}
