{% assign themeData=site.data.theme %}

{% assign colorPrimary=themeData.colors.primary %}
{% assign colorPrimaryDark=themeData.colors.primaryDark %}
{% assign colorPrimaryLight=themeData.colors.primaryLight %}
{% assign colorSecondary=themeData.colors.secondary %}
{% assign colorSecondaryDark=themeData.colors.secondaryDark %}
{% assign colorSecondaryLight=themeData.colors.secondaryLight %}
{% assign colorGrey=themeData.colors.grey %}
{% assign colorGreyDark=themeData.colors.greyDark %}
{% assign colorGreyLight=themeData.colors.greyLight %}

<section id="{{include.id}}" class="markdown pad-t-2 pad-b-2 {{include.bgColor}}" tabindex="0">
  <div class="gutter {{include.contentWidth}}{% if include.paddingExtra == true %} pad-t-2 pad-b-2{% endif %}{% if include.contentAlignment %} text-{{include.contentAlignment}}{% endif %}">
    {{include.content | markdownify }}
  </div>
</section>
