.accordion-unit {
  border-bottom: 2px solid {{colorPrimaryLight}};
}

.accordion-label {
  font-weight: bold;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: {{colorGreyDark}};
}

.accordion-label,
.accordion-content {
  padding-right: 1.3rem;
}

.accordion-content {
  overflow: hidden;
  height: 0;
  transition:
}

.accordion-label.open + .accordion-content {
  height: auto;
}

.accordion-label .icon {
  color: {{colorGrey}};
  transition:
    transform {{transition}},
    color {{transition}};
}

.accordion-label:hover,
.accordion-label:focus,
.accordion-label:hover .icon,
.accordion-label:focus .icon,
.accordion-label.open,
.accordion-label.open .icon {
  color: {{colorPrimary}};
}

.accordion-label .icon {
  transform: rotate(45deg);
}
.accordion-label.open .icon {
  transform: rotate(90deg);
}
