<!-- <h2 class="hero {% if include.bg == 'dark grey' %}bg-mg{% endif %}">hero</h2> -->

<section class="hero" style="background-image: {% if data.sections.hero.bgOverlay == true %}linear-gradient(to bottom, rgba(0, 0, 0, {{data.sections.hero.bgOverlayOpacity}}), rgba(0, 0, 0, {{data.sections.hero.bgOverlayOpacity}})), {% endif %}url('{{include.bgImage}}');">
  <div class="wrapper">
    <div class="hero-content gutter max-length-no-center">
      {% if data.home.sections[0].type == 'hero' %}
        {% if page.url == '/' %}
          <h2>{{include.headline}}</h2>
        {% else %}
          <h1>{{include.headline}}</h1>
        {% endif %}
      {% else %}
        <h2>{{include.headline}}</h2>
      {% endif %}
      <p class="{% unless include.btnText %}push-0 {% endunless %} mega">{{include.byline}}</p>
      {% if include.btnText %}
        {% include patterns/buttons/basic.html btnText=include.btnText %}
      {% endif %}
    </div>
  </div>
</section>

{% if data.sections.hero.bgOverlay == 'true' %}
<h2>hello</h2>
{% endif %}
