<section class="hero" style="background-image: url('{{include.bgImage}}'); background-position: {{include.bgPosition}}">
  <div class="wrapper">
    <div class="hero-content gutter max-length-no-center">
      {% if data.home.sections[0].type == 'hero' %}
        {% if page.url == '/' %}
          <h2>{{include.headline}}</h2>
        {% else %}
          <h1>{{include.headline}}</h1>
        {% endif %}
      {% else %}
        <h2>{{include.headline}}</h2>
      {% endif %}
      <p class="{% unless include.btnText %}push-0 {% endunless %} mega">{{include.byline}}</p>
      {% if include.btnText %}
        {% include patterns/buttons/basic.html btnText=include.btnText btnUrl=include.btnUrl btnStyle=data.sections.hero.btnStyle %}
      {% endif %}
    </div>
  </div>
</section>
