{% assign hero=data.sections.hero %}

.hero {
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: {{hero.bgPosition}};
  min-height: {{hero.height}};
}

.hero .wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

.hero h1,
.hero h2 {
  {% if hero.headlineColor == 'white' %}
    color: #fff;
  {% elsif hero.headlineColor == 'primary' %}
    color: {{colorPrimary}};
  {% elsif hero.headlineColor == 'secondary' %}
    color: {{colorSecondary}};
  {% elsif hero.headlineColor == 'greyDark' %}
    color: {{colorGreyDark}};
  {% else %}
    color: #000;
  {% endif %}
}

.hero p {
  {% if hero.bylineColor == 'white' %}
    color: #fff;
  {% elsif hero.bylineColor == 'primary' %}
    color: {{colorPrimary}};
  {% elsif hero.bylineColor == 'secondary' %}
    color: {{colorSecondary}};
  {% elsif hero.bylineColor == 'greyDark' %}
    color: {{colorGreyDark}};
  {% else hero.bylineColor == 'black' %}
    color: #000;
  {% endif %}
}

@media only screen and (min-width: 38em) {

  .hero .wrapper {
    justify-content: {% if hero.contentAlignment == 'left' %}flex-start{% elsif hero.contentAlignment == 'right' %}flex-end{% else %}center{% endif %};
    text-align: {{hero.contentAlignment}};
  }

}
