---
layout: default
---
{% assign data=site.data.theme %}

{% for sections in page.sections %}
  {% include sections/section.html id=sections.id bgImage=sections.bgImage bgPosition=sections.bgPosition bgColor=sections.bgColor height=sections.height headline=sections.headline byline=sections.byline btnText=sections.btnText btnUrl=sections.btnUrl contentAlignment=sections.contentAlignment content=sections.content width=sections.width paddingExtra=sections.paddingExtra logos=sections.logos %}
{% endfor %}
